		<footer id="footer">
			<section class="logo-footer">
				<div class="container-fluid">
					<div class="footer-top">
						<div class="row no-gutters">
							<div class="side-left col-12 col-lg-3">
								<div class="logo-area">
									<figure data-aos="zoom-in">
										<img src="assets/img/logo2.png" alt="">
									</figure>
									<h6 data-aos="fade-in" data-aos-delay="400">Rintis Karir Impian bersama LSP TICMI</h6>
								</div>
								<div class="social-media-area">
									<ul class="flat">
										<li class="tiktok" data-aos="zoom-in">
											<a class="bullet" target="_blank" href="#"></a>
										</li>
										<li class="instagram" data-aos="zoom-in" data-aos-delay="100">
											<a class="bullet" target="_blank" href="#"></a>
										</li>
										<li class="linkedin" data-aos="zoom-in" data-aos-delay="200">
											<a class="bullet" target="_blank" href="#"></a>
										</li>
										<li class="twitter" data-aos="zoom-in" data-aos-delay="300">
											<a class="bullet" target="_blank" href="#"></a>
										</li>
										<li class="youtube" data-aos="zoom-in" data-aos-delay="400">
											<a class="bullet" target="_blank" href="#"></a>
										</li>
									</ul>
								</div>
							</div>
							<div class="side-right col-12 offset-lg-1 col-lg-8">
								<div class="logo-nav">
									<div class="nav-area">
										<div class="row no-gutters">
											<div class="col-12 col-md-4">
												<div class="wrapper-nav">
													<h6 class="font-text-bold" data-aos="fade-in">LSP TICMI</h6>
													<ul>
														<li data-aos="fade-in">
															<a href="#">Tentang</a>
														</li>
														<li data-aos="fade-in">
															<a href="#">Karir</a>
														</li>
														<li data-aos="fade-in">
															<a href="#">Kerjasama</a>
														</li>
														<li data-aos="fade-in">
															<a href="#">Blog</a>
														</li>
													</ul>
												</div>
											</div>
											<div class="col-12 col-md-4">
												<div class="wrapper-nav">
													<h6 class="font-text-bold" data-aos="fade-in">Produk</h6>
													<ul>
														<li data-aos="fade-in">
															<a href="#">E-learning</a>
														</li>
														<li data-aos="fade-in">
															<a href="#">Pelatihan & Program</a>
														</li>
														<li data-aos="fade-in">
															<a href="#">Mentoring</a>
														</li>
														<li data-aos="fade-in">
															<a href="#">Corporate Services</a>
														</li>
													</ul>
												</div>
											</div>
											<div class="col-12 col-md-4">
												<div class="wrapper-nav">
													<h6 class="font-text-bold" data-aos="fade-in">Lainnya</h6>
													<ul>
														<li data-aos="fade-in">
															<a href="#">Kebijakan Privasi</a>
														</li>
													</ul>
												</div>
											</div>
										</div>
									</div>
									<div class="logo-icon">
										<figure data-aos="zoom-in" data-aos-delay="600">
											<img src="assets/img/graphics/kominfo.png" alt="">
										</figure>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="footer-bottom">
						<div class="payment-method">
							<h6 data-aos="fade-in">Metode Pembayaran</h6>
							<ul class="flat">
								<li>
									<figure data-aos="zoom-in">
										<img src="assets/img/graphics/payment_1.png" alt="">
									</figure>
								</li>
								<li>
									<figure data-aos="zoom-in">
										<img src="assets/img/graphics/payment_2.png" alt="">
									</figure>
								</li>
								<li>
									<figure data-aos="zoom-in">
										<img src="assets/img/graphics/payment_3.png" alt="">
									</figure>
								</li>
								<li>
									<figure data-aos="zoom-in">
										<img src="assets/img/graphics/payment_4.png" alt="">
									</figure>
								</li>
								<li>
									<figure data-aos="zoom-in">
										<img src="assets/img/graphics/payment_5.png" alt="">
									</figure>
								</li>
								<li>
									<figure data-aos="zoom-in">
										<img src="assets/img/graphics/payment_6.png" alt="">
									</figure>
								</li>
								<li>
									<figure data-aos="zoom-in">
										<img src="assets/img/graphics/payment_7.png" alt="">
									</figure>
								</li>
								<li>
									<figure data-aos="zoom-in">
										<img src="assets/img/graphics/payment_8.png" alt="">
									</figure>
								</li>
								<li>
									<figure data-aos="zoom-in">
										<img src="assets/img/graphics/payment_9.png" alt="">
									</figure>
								</li>
								<li>
									<figure data-aos="zoom-in">
										<img src="assets/img/graphics/payment_10.png" alt="">
									</figure>
								</li>
								<li>
									<figure data-aos="zoom-in">
										<img src="assets/img/graphics/payment_11.png" alt="">
									</figure>
								</li>
								<li>
									<figure data-aos="zoom-in">
										<img src="assets/img/graphics/payment_12.png" alt="">
									</figure>
								</li>
								<li>
									<figure data-aos="zoom-in">
										<img src="assets/img/graphics/payment_13.png" alt="">
									</figure>
								</li>
								<li>
									<figure data-aos="zoom-in">
										<img src="assets/img/graphics/payment_14.png" alt="">
									</figure>
								</li>
								<li>
									<figure data-aos="zoom-in">
										<img src="assets/img/graphics/payment_15.png" alt="">
									</figure>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</section>
		</footer>